.paper{
 display: flex;
margin :1rem;
}
.box{
    padding: 1rem;

}
.profile-pic{
    height: 200px!important;
    width: 200px!important;

}
@media  (max-width:600px){

.profile-pic{
    height: 100px!important;
    width: 100px!important;

}
}
.TextField{
    
    margin-top: 1rem!important;

}